/* Navbar.css */
.navbar {
    background-color: #1e1e1e; 
    color: #EAEAEA;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    width: 100%;
  }
  
  .navbar-logo h1 {
    font-size: 1.8rem;
    color: #FFD700; 
    margin: 0;
    cursor: pointer; 
  }
  
  .navbar-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer; 
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-menu li {
    font-size: 1rem;
  }
  
  .navbar-menu a {
    color: #EAEAEA;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer; 
  }
  
  .navbar-menu a:hover {
    color: #FFD700; 
  }
  
  /* Toggle Menu Styles */
  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-menu.active li {
    font-size: 1.2rem;
  }
  
  .toggle-icon {
    color: #EAEAEA;
    cursor: pointer; 
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  