html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000; 
  color: #EAEAEA; 
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

